/* CSS RESET */ 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
 font-size: 62.5%; 
 font-family: 'Raleway', sans-serif;
}
body {
	line-height: 1;
}
                                    /* Styling for the Header.js*/
.hero-image {
  background-image: url('./components/images/Gym-photo.jfif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-text {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}
/* Hide the scroll bar on overflow.*/ 
  ::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
  

                                    /* Styling for the Login Component */

.login-page {
  background-color: rgba(0, 0, 0, 0.3);
  height: 55vh;
  width: 35%;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  border-radius: 10px;
}
.login-page h2 {
  font-size: 3.5rem;
  width: 80%;
  margin: 0 auto;
  font-weight: 600;
  letter-spacing: .5rem;
  color: #E72354;
}
.login-page input {
  font-size: 1.35rem;
  margin: 3% 0;
  color: #033A2B;
}
.login-page form {
  font-weight: 600;
  font-size: 2.35rem;
  margin: 3% 0;
  color: #033A2B;
}
.login-page select {
  margin-bottom: 7%;
}


                              /* Styling for the create class form page */


.createClass-form {
  background-color: rgba(0, 0, 0, 0.3);
  height: 55vh;
  width: 45%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
}
.createClass-form h2 {
  padding-top: 5%;
}
                              /* Styling for the new class the user creates */
.subclass-title {
  font-size: 2.5rem;
  height: 3vh;
  margin: 0 auto;
  background-color: #E72354;
}
.class-info {
  padding: 3%;
  margin: 0 auto;
  background-color: rgba(19, 146, 185, 0.1);
  box-shadow: 0px 0px 2px 0px black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.class-info p {
  width: 45%;
  padding: 1%;
  color: #0C516F;
  font-size: 1.75rem;
  font-weight: 600;
}
.class-info h3 {
  width: 45%;
  font-size: 2rem;
  font-weight: 500;
}
.button-group {
  margin-top: 5px;
}
.class

                                /* Styling for edit class */

                                /*Styling for the footer */

footer {
  height: 35vh;
  color: #fff;
  background-color: #073A4A;
}