/* CSS RESET */ 

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
 font-size: 62.5%; 
 font-family: 'Raleway', sans-serif;
}
body {
	line-height: 1;
  background-color: #031D26;
}

/* Styling for Header.js */
.App {
  text-align: center;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #073A4A;
  border-bottom: 3px outset #1190BB;
}
.nav-title {
  padding-left: 15px;
  font-size: 2.5rem;
  letter-spacing: 0.3rem;
  font-weight: 400;
  text-decoration: none;
  color: #EBFEF9;
}
.nav-title:hover {
  color: #E09D00;
  transition: 575ms ease-in-out;
}

/* Styling for Home.js */
.home-page {
  height: 100vh;
  width: 100%;
  overflow: scroll;
  border-left: 3px solid #073A4A;
  border-right: 3px solid #073A4A;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
header {
  background-image: url('./components/images/Gym-photo.jfif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 55vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-text {
  height: 75%;
  width: 60%;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.15);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
}
.header-text h1{
  height: 35%;
  font-size: 10rem;
  font-weight: 400;
  letter-spacing: .3rem;
  padding: 0 6%;
  color: #E09D00;
  text-shadow: 1px .5px 1px #000;
}
.about-wrap {
  background-color: #fff;
  color: #000;
  height: 33vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-wrap div {
  height: 75%;
  width: 60%;
  text-align: center;
  font-size: 2.1rem;
  font-weight: 500;
  line-height: 1.5;
  display: flex;
  align-items: center;
}
.about-wrap p {
  padding: 5%;
}
.class-info {
  height: 80%;
  width: 80%;
  margin: 0 auto;
  background-color: rgba(19, 146, 185, 0.1);
  box-shadow: 0px 0px 2px 0px black;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}
footer {
  height: 15vh;
  color: #fff;
  background-color: #073A4A;
}